## **Verificando a versão de Python que está instalada**

In [ ]:
!python3 --version

## **Função print**

In [ ]:
print("Unicamp - MC102 - Turmas - IJKL")

In [ ]:
print("Unicamp -","MC102 -","Turmas -","IJKL")

In [ ]:
print("Unicamp "," MC102 "," Turmas "," IJKL", sep="-")

Parâmetros **sep** e **end** da função print

In [ ]:
print("MC102 ", " Unicamp ", " 2024 ", sep = ":", end ="+ ")
print("Vocês são os melhores!")

In [ ]:
print("MC102 ", "Unicamp ", "2024 ", sep = "+ ", end = ":")
print(" Vocês são os melhores!")

In [ ]:
print("MC102 ", "Unicamp ", "2024 ", sep = "+ ", end = ":\n")
print("Vocês são os melhores!")

##**Declaração de variáveis**

Regras de nomes de variáveis ​​​​Python



*   O nome de uma variável deve começar com uma letra ou sublinhado
*   Um nome de variável não pode começar com um número
*   Um nome de variável só pode conter caracteres alfanuméricos e
    sublinhados (A-z, 0-9 e _)
*   Os nomes das variáveis ​​diferenciam maiúsculas de minúsculas.

In [ ]:
nome = "João"
print(nome, type(nome))

In [ ]:
_ano_de_nascimento = 1990
print(_ano_de_nascimento)

In [ ]:
ano1 = 2024
print(ano1)

In [ ]:
sobrenome_nome = "da Silva"
print(sobrenome_nome)

In [ ]:
# Atribuição de um mesmo valor para múltiplas variáveis
a = b = c = d = e = 5
print(a, b, c, d, e)

In [ ]:
a = 10
print(a)

In [ ]:
# Atribução de valores diferentes para múltiplas variáveis com um único comando.
a, b, c = 15, 25, 35
print(a, b, c)

In [ ]:
#Atualizando o valor das variáveis
a = 15
b = "Vinte e cinco"
c = 52.7
d = "Verdadeiro"
e = "195.684"
f = False
g = "True"
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))
print(g, type(g))

## **Operações matemáticas**

**Operadores Unários**

Aceitam só um operando. Em Python, eles são -, +, ~, not (negação unária, positivo unário, negação bitwise e negação lógica).

In [ ]:
#  Operadores Unários:
x = True
y = not x  #  O operador “not” inverte o valor booleano de x.
print(y)

In [ ]:
s = 1
t = ~s  #  O operador “~” inverte os bits do inteiro s. (complemento a 2 mas sempre retorna um número negativo)
print(t)

In [ ]:
a = -8
b = -a  #  O operador “-“ inverte o sinal de a.
print(b)

In [ ]:
x = True
y = not x
print(y)

In [ ]:
i = 3.3
print(-i)

**Operadores Aritméticos**

In [ ]:
10 + 4

In [ ]:
10 - 4

In [ ]:
10 * 4

In [ ]:
10 ** 4    # exponente

In [ ]:
11 / 4      # divisão

In [ ]:
11 // 4    # divisão inteira

In [ ]:
11 % 4      # modulo - calcula o resto

## **Exercício sobre Análise de Expressões**

Analise o bloco de código a seguir e escreva a saída correspondente. Leve em consideração a ordem de precedência:

*   Exponenciação
*   Operadores unários.
*   Multiplicação, divisão e módulo.
*   Adição e subtração.

In [ ]:
a,b,c,d,e,f,g = 2, 3, 4, 5, 6, 7, 8
print(a,b,c,d,e,f,g, sep = "\n")
z= (a**b-c/4+(f*g))
print("O resultado dessa conta é", z, sep = "...", end = "!")

## **Comparações**

In [ ]:
x > 3

In [ ]:
x >= 3

In [ ]:
x != 3

In [ ]:
x == 5

**Operações Booleanas:**

In [ ]:
5 > 3 and 6 > 3

In [ ]:
5 > 3 or 5 < 3

In [ ]:
not False

In [ ]:
False or not False and True     # ordem de avaliação: not, and, or

## **Exercício Conversão de tipos**

Calcular a área de um círculo de radio 7.25

In [ ]:
pi = 3.141592653589793
r = 7.25

# Lembrando que a fórmula para calcular a area de um círculo é = π * r^2
area = pi * r ** 2

# Mostrando o resultado
print("A área de um círculo com radio " + str(r) + " é: " + str(area))

In [ ]:
bool("") #Conversão de string vazia para booleano

In [ ]:
bool(" ") #Conversão de string NÃO vazia para booleano

## **Função Input**

In [ ]:
# Cálculo da hipotenusa de um triângulo retângulo usando a função input
a_str = input("Digite um valor para o cateto a: ")
b_str = input("Digite um valor para o cateto b: ")
a = float(a_str)
b = float(b_str)
c = ((a * a) + (b * b)) ** (1/2)
print(c)